<?xml version='1.0' encoding='utf-8'?>
<widget id="rainout.sarai.uplb.specialproject" version="1.6.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rainfall Outlook</name>
    <description>
        Know the 6-month Forecast of Rainfall
    </description>
    <author email="anarrativecloud@gmail.com" href="https://twitter.com/anarrativecloud">
        Adrienne Elise R Cortez
    </author>
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="pgb-builder-version" value="1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="icon.png" />
        <icon density="mdpi" src="icon.png" />
        <icon density="hdpi" src="icon.png" />
        <icon density="xhdpi" src="icon.png" />
        <icon density="xxhdpi" src="icon.png" />
        <icon density="xxxhdpi" src="icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-backbutton" spec="^0.3.0" />
    <engine name="android" spec="^7.1.2" />
</widget>
